@use '../utils' as *;
%description-14 {
  font-family: $font-sa;
  font-size: 1.4rem;
  @include media('<=phone') {
    font-size: 1.1rem;
  }
}
%description-18 {
  font-family: $font-sa;
  font-size: 1.8rem;
  @include media('<=phone') {
    font-size: 1.4rem;
  }
}
