@use '../utils' as *;

%title-22 {
  font-family: $font-sa;
  font-size: 2.2rem;
  @include media('<=phone') {
    font-size: 1.8rem;
  }
}

%title-32 {
  font-family: $font-sa;
  font-size: 3.2rem;
  @include media('<=phone') {
    font-size: 2.2rem;
  }
}
%title-38 {
  font-family: $font-sa;
  font-size: 3.8rem;
  @include media('<=phone') {
    font-size: 2.2rem;
  }
}

%title-42 {
  font-family: $font-sa;
  font-size: 4.2rem;
  @include media('<=phone') {
    font-size: 2.4rem;
  }
}
%title-108 {
  font-family: $font-sa;
  font-size: 10.4rem;
  @include media('<=phone') {
    font-size: 4.6rem;
  }
}
