@use '../utils' as *;
@use '../shared' as *;
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  $vw: 100vw;
  font-size: calc($vw / 1920px * 10px);
  line-height: 1;
  background: $color-wild-sand;
  color: $color-tuatara;

  @include media('<phone') {
    font-size: calc($vw / 750px * 10px);
  }
}

body {
  font-family: $font-sa;
  @extend %description-18;
  @include media('<phone') {
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}
